@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 70%;
  height: 85vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  grid-template-rows: 30px repeat(3, minmax(max-content, 1fr));
}

main > div {
  padding: 10px;
}

main > div:nth-child(3) {
  background-color: #6b01ff;
}
main > div:nth-child(7) {
  background-color: inherit;
}
main > div:nth-child(8) {
  background-color: #ffc904;
}

.title {
  background-color: black;
  color: white;
  text-align: right;
}

.speakers {
  grid-column: -3 / -2;
  grid-row: 2 / span 3;
  background-color: inherit;
}

.speakers > ul > li,
.artists > ul > li {
  font-size: 24px;
  letter-spacing: 1;
}

.speakers > ul > li:first-child,
.artists > ul > li:first-child {
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 10px;
}

.artists {
  grid-column: -2 / -1;
  grid-row: 2 / span 3;
  background-color: inherit;
}

.info {
  grid-row: 3 / -1;
  background-color: #ff1702;
}

ul > li {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
}

header {
  background-color: #bdbec0;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > ul {
  padding-left: 5px;
  width: 5%;
  display: flex;
  justify-content: space-around;
}

header > ul > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.3) solid 1px;
}

header > input {
  width: 25%;
  background-color: inherit;
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.3) solid 1px;
}

header > input:focus {
  outline: none;
}

header > div {
  width: 5%;
}
